@tailwind base;
@tailwind utilities;
@tailwind components;
:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (min-width: 1536px) {
  .pie-chart-container svg {
    width: 1000px;
  }
}

@media (max-width: 1535px) {
  .sidebar-container {
    width: 50%; /* Half the size of the current sidebar */
    transform: translateX(-100%); /* Start position off-screen */
    transition: transform 0.3s ease; /* Animation duration and easing */
  }

  .sidebar-container.open {
    transform: translateX(0); /* End position on-screen */
  }
}
