@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (min-width: 1536px) {
  .pie-chart-container svg {
    width: 1000px;
  }
  .pie-chart-container-2 svg {
    width: 450px;
  }
}
@media (max-width: 1535px) {
  .pie-chart-container svg {
    width: 400px;
  }
  .pie-chart-container-2 svg {
    width: 400px;
  }
}
@media (max-width: 1024px) {
  .pie-chart-container svg {
    width: 800px;
  }
  .pie-chart-container-2 svg {
    width: 800px;
  }
}
@media (max-width: 889px) {
  .pie-chart-container svg {
    width: 550px;
  }
  .pie-chart-container-2 svg {
    width: 550px;
  }
}
@media (max-width: 476px) {
  .pie-chart-container svg {
    width: 300px;
  }
  .pie-chart-container-2 svg {
    width: 300px;
  }
}
.cl-rootBox {
  width: auto !important;
}
.cl-userButtonBox {
  display: flex !important;
  flex-direction: row-reverse;
  gap: 15px;
  justify-content: space-around !important;
}

@media (max-width: 1535px) {
  .sidebar-container {
    width: 50%; /* Half the size of the current sidebar */
    transform: translateX(-100%); /* Start position off-screen */
    transition: transform 0.3s ease; /* Animation duration and easing */
  }

  .sidebar-container.open {
    transform: translateX(0); /* End position on-screen */
  }
}
